/* Don't do this */
button {
	background-color: black;
	color: white;
	border-radius: 8px;
	padding: 0.5rem 1rem;
}

/* Incorrect Usage - <button>Click me</button> */

/* Do this instead */
.btn {
	background-color: black;
	color: white;
	border-radius: 8px;
	padding: 0.5rem 1rem;
}

/* Correct Usage - <button class="btn">Click me</button> */