.container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  align-items: flex-end;
  padding: 50px;
}

.container::-webkit-scrollbar {
  display: none;
}

@media (max-width: 900px) {
  .container {
    height: auto;
  }
}
