html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Inter';
  background-color: #e8e8e8;
  overflow: hidden;
}

/* Add this to hide content before animation */
.animate-left,
.animate-right {
  opacity: 0;
}
