.projects {
  margin-bottom: 20px;
}

.projects h2 {
  color: rgba(60, 60, 60, 0.97);
  text-align: right;
  font-size: 4rem;
  font-weight: 800;
  letter-spacing: -0.13688rem;
  margin: 0;
}

@media (max-width: 900px) {
  .projects h2 {
    text-align: center;
    font-size: 3rem;
  }

  .projects {
    width: 100%;
  }
}
